body{
    box-sizing: border-box;
    margin:0.5rem;
    padding:0 rem;
    
}
.video{
    display:flex;
    background-color: aqua;
    padding:2rem;
    margin:5rem;
    width:50%;
    border-radius: 4rem;
}
.sub{
    display:flex;
    background-color: rgb(225, 0, 255);
    font-size: 50px;
    padding-left:5rem;
    margin-left:40rem;
    margin-bottom: 40rem;
    width:50%;
    border-radius: 4rem;
}
